<h1>Lista de Actores</h1>
<h3><%=link_to "Crear Actor", new_actor_path%></h3>

<ol>
<%@actors.each do |actor|%>
  <li>
    <p>
      <h3>Nombre</h3> - <%= actor.name %>
    </p>
    <p>
      <h4>Biografia</h4> <%= actor.bio %>
    </p>
    <p>
      <%= actor.birth_date %>
    </p>
    <p>
      <%= actor.birth_place %>
    </p>
    <p>
      <%= actor.death_date %>
      <%= actor.death_place %>
    </p>
  </li>
  <br>
<%end%>
</ol>
