    <table>
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Bio</th>
          <th>Fecha de nacimiento</th>
          <th>Lugar de nacimiento</th>
          <th>Fecha de fallecimiento</th>
          <th>Lugar de fallecimiento</th>
        </tr>
      </thead>
      <tbody>
        <% @actors.each do |actor| %>
        <tr>
          <td> <img src=<%="#{actor[:image_url]}"%> height='300' width='210'></td>
          <td><%= actor[:name]%></td>
          <td><%= actor[:bio]%></td>
          <td><%= actor[:birth_date]%></td>
          <td><%= actor[:birth_place]%></td>
          <% if actor[:alive] == false %>
          <td><%= actor[:death_date]%></td>
          <td><%= actor[:death_place]%></td>
          <% else %>
          <td>Still alive</td>
          <td>Still alive</td>
          <%end%>
        </tr>
        <% end %>
      </tbody>
    </table>
    <!--<form action="actors/new" method="get">
      <input type="submit" name="submit" value="crear actor">
    </form>-->
    <a href="actors/new">Crear Actor</a>
