<h1>Modelitos</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Birth Date</th>
      <th>Birth Place</th>
      <th>Photo</th>
      <th></th>      
    </tr>
  </thead>
  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.name %></td>
        <td><%= actor.bio %></td>
        <td><%= actor.birth_date %></td>
        <td><%= actor.birth_place %></td>
        <td>        <img src="<%= actor.image_url %>" alt="W3Schools.com" style="width:104px;height:142px;">
</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>