<ol>
  <%@actors.each do |actor|%>
  <li>
      <img src="<%=actor.image_url%>">
    <p>
      <h3>Nombre</h3> - <%= actor.name %>
    </p>
    <p>
      <h4>Biografia</h4> <%= actor.bio %>
    </p>
    <p>
      <%= actor.birth_date %>
    </p>
    <p>
      <%= actor.birth_place %>
    </p>
    <p>
      <%= actor.death_date %>
      <%= actor.death_place %>
    </p>
  </li>
  <br>
  <%end%>
</ol>
