
    <h1>Actores</h1>
    <%= link_to "nuevo actor", new_actor_path, class: "btn btn-success" %>
    <hr>
    <% @actores.each do |actor|%>
    <div class="clearfix  col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= actor.name %>
          </h3>
        </div>
        <div class="panel-body">
          <div class="col-sm-3">
            <img src="<%=actor.image_url%>" class="img-thumbnail" alt="imagen del actor">
          </div>
          <p><strong>Biografia:</strong>
             <%= actor.bio %>
           </p>
           <p><strong>Fecha de nacimiento</strong>
          <%= actor.birth_date %>
          </p>
          <p><strong>lugar de nacimiento:</strong>
            <%= actor.birth_place %>
          </p>
          <p><strong>vivo:</strong>
            <%if actor.alive%>
             si
            <%else%>
             no <strong>murio en: </strong> <%= actor.death_place%> el <%= actor.death_date%>
            <%end%>
          </p>
        </div>
      </div>
    </div>
    <% end %>
