<table >
  <thead>
    <tr >
     <th>Foto</th>
      <th>Nombre</th>
      <th>Bio</th>
      <th>Fecha de Nacimiento</th>
      <th>Lugar de Nacimiento</th>
      <th>Fecha y lugar de fallecimiento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
       <td><%= image_tag (actor.image_url) %></td>
        <td><%= actor.name %></td>
        <td><%= actor.bio %></td>
        <td><%= actor.birth_date %></td>
        <td><%= actor.birth_place %></td>
        <td><%if !actor.alive %> 
        <%= actor.death_date %><%= actor.death_place %> 
        <%end %> </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Crear Actor", new_actor_path %>