<div class="container">
  <div class="row">
    	<div class="col-sm-12">
	    	<h1>Actores</h1>

	    	<table class="table">
	    	  <tr>
	    	    <th>Id</th>
	    	    <th>Nombre</th>
	    	    <th>URL</th>
	    	    <th>Descripción</th>
	    	  </tr>
	    	  <% @actors.each do |actor| %>
	    	    <tr>
	    	      <td><%= actor.id %></td>
	    	      <td><%= actor.name %></td>
	    	      <td><%= actor.bio %></td>
	    	      <td><%= actor.birth_date %></td>
	    	      <td><%= actor.birth_place %></td>
	    	      <td><%= actor.image_url %></td>
	    	      <td><%= actor.death_date %></td>
	    	      <td><%= actor.death_place %></td>
	    	    </tr>
	    	  <% end %>
	    	</table>
		</div>
  </div>
</div>