<h1>Actores</h1>
<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Bio</th>
      <th>Fecha de Nacimiento</th>
      <th>Lugar de Nacimiento</th>
      <th>Fecha de Deseso </th>
    </tr>
  </thead>
  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.image_url %></td>
        <td><%= actor.name %></td>
        <td><%= actor.bio %></td>
        <td><%= actor.birth_date %></td>
        <td><%= actor.birth_place %></td>
        <% if actor.death_date.present? %>
          <td><%= actor.death_date %></td>
          <td><%= actor.death_place %></td>
        <% end  %> 
      </tr>
    <% end %>
  </tbody>
</table>
