<h1> Actores </h1>

<table>
	<tr>
		<th>Foto</th>
		<th>Nombre</th>
		<th>Biografia</th>
		<th>Fecha Nacimiento</th>
		<th>Lugar Nacimiento</th>
	</tr>
	<% @actors.each do |actor| %>
	  <tr>
	  	<td><%= actor.image_url%></td>
	  	<td><%= actor.name%></td>
	  	<td><%= actor.bio%></td>
	  	<td><%= actor.birth_date%></td>
	  	<td><%= actor.birth_place%></td>
	  	<td><%= actor.alive%></td>
	  	<td><%= actor.death_date%></td>
	  	<td><%= actor.death_place%></td>
	  </tr>
	<% end %>
</table>

<%= link_to "Crear Actor", new_actor_path %>