<table>
  <thead>
    <th>Name</th>
    <th>Bio</th>
    <th>Birth_Date</th>
    <th>Birth_Place</th>
    <th>Picture</th>
    <th>Death_date</th>
    <th>Death_place</th>
  </thead>
  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.name %></td>
        <td><%= actor.bio %></td>
        <td><%= actor.birth_date %></td>
        <td><%= actor.birth_place %></td>
        <td><%= image_tag actor.image_url %></td>
         <% if actor.alive == false %>
            <td><%= actor.death_date %></td>
            <td><%= actor.death_place %></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

