
    <% @actores.each do |element| %>
    <table style="width:70%">
    <tr>
      <th><h3>FOTO</h3></th>
      <th><h3>DATOS DEL ACTOR</h3></th>
    </tr>
    <tr>
      <td><img src=<%= element.image_url %>></td>
      <td>
        <h3>Nombre: </h3><p><%= element.name %></p>
        <h3>Bio: </h3><p><%= element.bio %></p>
        <h3>Fecha de Nacimiento: </h3><p><%= element.birth_date %></p>
        <h3>Lugar de Nacimiento: </h3><p><%= element.birth_place %></p>
        <% if element.death_date!= nil %>
        <h3>Fecha de Fallecimiento: </h3><p><%= element.death_date %></p>
        <h3>Lugar de Fallecimiento: </h3><p><%= element.death_place %>></p>
        <% end %></td>
    <% end %></tr></table>

    <a href='/new'><h2>Crear Actor</h2></a>
