<h1>LISTA DE ACTORES</h1>
<%@actors.each do |actor| %>
  <div class="row">
    <div class="col-3 centrar">
      <img src=<%= actor.image_url%> alt="" style="width:100px;height:100px;">
    </div> <!-- 25% -->
    <div class="col-2 centrar">
      <strong>Name: </strong><%= actor.name%></th>
    </div>
    <div class="col-5 centrar">
      <strong>Biography: </strong><%= actor.bio%></th>
    </div>
    <div class="centrar">
      <strong>Birth Date: </strong><%= actor.birth_date%></th>
    </div>
    <div class="centrar">
      <strong>Birth Place: </strong><%= actor.birth_place%></th>
    </div>
    <% if actor.alive == false %>
      <div class="centrar">
        <strong>Death Place: </strong><%= actor.death_place%></th>
        <strong>Death Date: </strong><%= actor.death_date%></th>
      </div>
    <% end %>
  </div>
<% end %>
<%= link_to 'Crear Actor', new_actor_path %>
