<% @actors.each do |actor|%>
<h1><%= image_tag actor.image_url %></h1>
<h1><%= actor.name %></h1>
<p><%= actor.bio %></p>
<p><%= actor.birth_date %></p>
<p><%= actor.birth_place %></p>
<p><%= actor.death_date %></p>
<p><%= actor.death_place %></p>
<% end %>