<ul>
    <% @actors.each do |actor| %>
        <li><img src="<%= actor.image_url %>"></li>
        <li><%= actor.name %></li>
        <li><%= actor.bio %></li>
        <li><%= actor.birth_date %></li>
        <li><%= actor.birth_place %></li>
        <%if !actor.alive %>
            <li><%= actor.death_date %></li>
            <li><%= actor.death_place %></li>
        <% end %>
    <% end %>
<ul>
