<h1 align="center">ACTORS</h1>

<% @actors.each do |actor| %>
<table border="2">
  <tr>
    <td id="foto"><img src="<%= actor.image_url %>"></td>
    <td><%= actor.name %></td>
    <td id="bio"><%= actor.bio %></td>
    <td><%= actor.birth_date %></td>
    <td><%= actor.birth_place %></td>
    <% if actor.alive %>
        <td>-------</td>
       <% else %>
        <td style="color : red"><%= actor.death_date %></td>
    <% end %>
  </tr>
  <br>
</table>
<% end %>
