<table>
  <tr>
    <th>Nombre</th>
    <th>Bio</th>
    <th>Fecha de Nacimiento</th>
    <th>Lugar de Nacimiento</th>
    <th>Foto</th>
    <th>Fecha de Fallecimiento</th>
    <th>Lugar de Fallecimiento</th>
  </tr>
  <% @actors.each do |actor| %>
    <tr>
      <td><%= actor.name %></td>
      <td><%= actor.bio %></td>
      <td><%= actor.birth_date %></td>
      <td><%= actor.birth_place %></td>
      <td><%= actor.image_url %></td>
      <td>
        <% if !actor.alive %>
          <%= actor.death_date %>
        <% end %>
      </td>
      <td>
        <% if !actor.alive %>
          <%= actor.death_place %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
