<h1>Actors</h1>
 <ul>
<% @actors.each do |actor| %>
  <li>
    <img src="<%= actor.image_url %>">
    <p> <%= actor.name %></p>
    <textarea rows="20" cols="50"> <%= actor.bio %></textarea >
    <p> <%= actor.birth_date %></p>
    <p><%= actor.birth_place %></p>
  </li>
  <% end %>
 </ul>