<% Actor.all.each do |act| %>
	<table>
		<tr>
			<td><%= act.image_url %></td>
			<td><%= act.name %></td>
			<td><%= act.bio %></td>
			<td><%= act.birth_date %></td>
			<td><%= act.birth_place %></td>
			<td><%= act.death_date if act.alive == false %></td>
			<td><%= act.death_place if act.alive == false %></td>
		</tr>
	</table>
<% end %>