<h1>Crear Actor</h1>

<%= form_for @actor do |f| %>
  <div>
    <%= f.label :image_url %>
    <%= f.url_field :image_url %>
  </div>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :bio %>
    <%= f.text_field :bio %>
  </div>

  <div>
    <%= f.label :birth_date %>
    <%= f.date_field :birth_date %>
  </div>

  <div>
    <%= f.label :death_date %>
    <%= f.date_field :death_date %>
  </div>

  <div>
    <%= f.label :death_place %>
    <%= f.text_field :death_place %>
  </div>
  <%= f.submit "Crear Actor" %>
<% end %>

<%= link_to 'Back', actors_path %>
