<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Nuevo Actor</h1>
      <%= form_for @actors do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control input-lg", placeholder: "Ingresa el nombre del actor" %>
        </div>
        <div class="form-group">
          <%= f.text_field :bio, class: "form-control input-lg", placeholder: "Ingresa la biografia del actor" %>
        </div>
        <div class="form-group">
          <%= f.date_field :birth_date, class: "form-control input-lg", placeholder: "Ingresa la fecha de nacimiento" %>
        </div>
        <div class="form-group">
          <%= f.text_field :birth_place, class: "form-control input-lg", placeholder: "Ingresa el lugar de nacimiento" %>
        </div>
        <div class="form-group">
          <%= f.text_field :image_url, class: "form-control input-lg", placeholder: "Ingresa la URL de la foto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :alive, class: "form-control input-lg", placeholder: "Esta vivo?" %>
        </div>
        <div class="form-group">
          <%= f.date_field :death_date, class: "form-control input-lg", placeholder: "Ingresa la fecha de fallecimiento" %>
        </div>
        <div class="form-group">
          <%= f.text_field :death_place, class: "form-control input-lg", placeholder: "Ingresa el lugar de fallecimiento" %>
        </div>
        <div class="form-group">
          <%= f.submit "Publicar Actor", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
