<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Crear Actor</h1>
      <%= form_for @actor do |f| %>
        <div class="form-group">
         <%= f.url_field :image_url, class: "form-control input-lg", placeholder: "Ingresa la URL de tu foto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control input-lg", placeholder: "Ingresa el Nombre del Actor" %>
        </div>
        <div class="form-group">
          <%= f.text_area :bio, class: "form-control input-lg", placeholder: "Ingresa la biografia" %>
        </div>
        <div class="form-group">
          <%= f.text_field :birth_date, class: "form-control input-lg", placeholder: "Ingresa la fecha de Nacimiento" %>
        </div>
        <div class="form-group">
          <%= f.text_field :birth_place, class: "form-control input-lg", placeholder: "Ingresa el Lugar de nacimiento" %>
        </div>
        <div class="form-group">
          <%= f.check_box :alive %>
          <%= f.label :alive , "Esta vivo?" %>
        </div>
        <div class="form-group">
          <%= f.text_field :death_date, class: "form-control input-lg", placeholder: "Ingresa la fecha de Fallecimiento" %>
        </div>
        <div class="form-group">
          <%= f.text_field :death_place, class: "form-control input-lg", placeholder: "Ingresa el Lugar de Fallecimiento" %>
        </div>
        <div>
          <%= f.submit "Crear Actor", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>