<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">

			<h1>Nuevo Actor</h1>

			<%= form_for @actor do |f| %>

				<div class="form-group">
					<%= f.text_field :name, class: "form-control input-lg", placeholder: "Ingresa un nombre" %>
				</div>
				<div class="form-group">
					<%= f.text_area :bio, class: "form-control input-lg", placeholder: "Ingresa la Biografia" %>
				</div>
				<div class="form-group">
					<%= f.text_field :birth_date, class: "form-control input-lg", placeholder: "Ingresa la fecha de nacimiento" %>
				</div>
				<div class="form-group">
					<%= f.text_field :birth_place, class: "form-control input-lg", placeholder: "Ingresa el lugar de nacimiento" %>
				</div>
				<div class="form-group">
					<%= f.url_field :image_url, class: "form-control input-lg", placeholder: "Ingresa la url de la imagen del artista" %>
				</div>
				<div class="form-group">
					<%= f.text_field :death_date, class: "form-control input-lg", placeholder: "Ingresa la fecha de defuncion" %>
				</div>
				<div class="form-group">
					<%= f.text_field :death_place, class: "form-control input-lg", placeholder: "Ingresa el lugar de defuncion" %>
				</div>
				<div>
					<%= f.submit "Guardar Actor", class: "btn btn-primary btn-lg btn-block" %>
				</div>

			<% end %>

		</div>
	</div>
</div>