<%= form_for :actor, url: actors_path do |f| %>
  	<p>
    	<%= f.label :name %><br>
    	<%= f.text_field :name %>
  	</p>
 
  	<p>
    	<%= f.label :bio %><br>
    	<%= f.text_area :bio %>
  	</p>

  	<p>
  		<%= f.label :birth_date %>
  		<%= f.date_field :birth_date %>
  	</p>

  	<p>
  		<%= f.label :birth_place %>
  		<%= f.text_field :birth_place %>
  	</p>

  	<p>
  		<%= f.label :image_url %>
  		<%= f.text_field :image_url %>
  	</p>

  	<p>
  		<%= f.label :death_date %>
  		<%= f.date_field :death_date %>
  	</p>

  	<p>
  		<%= f.label :death_place %>
  		<%= f.text_field :death_place %>
  	</p>
 		
  	<p>
    	<%= f.submit 'Crear Actor' %>
  	</p>
<% end %>

<%= link_to 'Volver', actors_path %>