<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <%= form_for @actor do |f| %>
    <div>
      <%= f.label :image_url %>
      <%= f.url_field :image_url %>
    </div>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :bio %>
      <%= f.text_area :bio %>
    </div>
    <div>
      <%= f.label :alive %>
      <%= f.check_box(:alive, value:true)%>
    </div>
    <div>
      <%= f.label :birth_date %>
      <%= f.date_field :birth_date %>
      <%= f.label :birth_place %>
      <%= f.text_field :birth_place %>
    </div>
    <div>
      <%= f.label :death_date %>
      <%= f.date_field :death_date %>
      <%= f.label :death_place %>
      <%= f.text_field :death_place %>
    </div>
    <div>
      <%= f.submit "Crear Actor"%>
    </div>

  <% end %>

</body>
</html>
