

<%= form_for @actor do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control", id:"formGroupExampleInput"  %>
  </div>
  <div>
    <%= f.label :bio %><br>
    <%= f.text_area :bio, class:"form-control", id:"exampleFormControlTextarea1" %>
  </div>
  <div>
    <%= f.label :birth_place %><br>
    <%= f.text_area :birth_place, class:"form-control", id:"exampleFormControlTextarea1" %>
  </div>
  <div>
    <%= f.label :birth_date %><br>
    <%= f.text_area :birth_date, class:"form-control", id:"exampleFormControlTextarea1" %>
  </div>
  <div>
    <%= f.label :image_url %><br>
    <%= f.text_area :image_url, class:"form-control", id:"exampleFormControlTextarea1" %>
  </div>
  <div>
    <%= f.label :alive %><br>
    <%= f.text_area :alive, class:"form-control", id:"exampleFormControlTextarea1" %>
  </div>
  <div>
    <%= f.label :death_date %><br>
    <%= f.text_area :death_date, class:"form-control", id:"exampleFormControlTextarea1" %>
  </div>
  <div>
    <%= f.label :death_place %><br>
    <%= f.text_area :death_place, class:"form-control", id:"exampleFormControlTextarea1" %>
  </div>
  <div>
    <%= f.submit class:"btn btn-primary"  %>
  </div>
<% end %>
