<h1> <%=@Actor.name%></h1>
<h1> <%=@Actor.bio%></h1>
<h1> <%=@Actor.birth_date%></h1>
<h1> <%=@Actor.birth_place%></h1>
<h1> <%=@Actor.image_url%></h1>
<h1> <%=@Actor.alive%></h1>
<h1> <%=@Actor.death_date%></h1>
<h1> <%=@Actor.death_date%></h1>
<%= link_to "Lista de Actores", actors_path %>
