<p>
	<!-- <strong>Name:</strong> -->
	<%= @actor.name %>
</p>

<p>
	<!-- <strong>Bio:</strong> -->
	<%= @actor.bio %>
</p>

<p>
	<!-- <strong>Birth Date:</strong> -->
	<%= @actor.birth_date %>
</p>

<p>
	<!-- <strong>Birth Place:</strong> -->
	<%= @actor.birth_place %>
</p>

<p>
	<%= @actor.image_url %>
</p>

<p>
	<%= @actor.death_date %>
</p>

<p>
	<%= @actor.death_place %>
</p>